.cookieConsentContainer {
	z-index: 999;
	width: 30vmax;
	min-height: 15vmax;
	box-sizing: border-box;
	padding: 3vmax;
	background: #232323;
	overflow: hidden;
	position: fixed;
    bottom: 3vmax;
	right: 3vmax;
	display: none;
}
.cookieConsentContainer .cookieTitle a {
	color: #FFFFFF;
	font-size: 1.5vmax;
	display: block;
}
.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 1vmax;
	display: block;
	margin-top: 1vmax;
} .cookieConsentContainer .cookieDesc a {
	color: #FFFFFF;
	text-decoration: underline;
}
.cookieConsentContainer .cookieButton a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 1vmax;
	font-weight: bold;
	margin-top: 1.4vmax;
	background: #000000;
	box-sizing: border-box; 
	padding: 1.5vmax 2.4vmax;
	text-align: center;
	transition: background 0.3s;
}
.cookieConsentContainer .cookieButton a:hover { 
	cursor: pointer;
	background: #3E9B67;
}
/*@media (max-width: 980px) {
	.cookieConsentContainer {
		bottom: 0px !important;
		left: 0px !important;
		width: 100%  !important;
	}
}*/

